.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #20b7ede6;
  padding: 15px 30px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  

  .login {
    background-color: white;
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;

    img {
      width: 100px;
      height: auto;
      margin: 0;
    }
  }

  .titulo-navbar {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    flex: 1;
    text-align: center;
  }

  .navegacao {
    display: flex;
    gap: 35px;

    a {
      background-color: #0465ce;
      border-radius: 5px;
      box-shadow: 0 5px 5px rgba(0,0,0,0.1);
      padding: 5px;
      color: white;
      text-decoration: none;
      font-weight: 500;
      font-size: 15px;
      padding-right: 10px;
      padding-left: 10px;

      &:hover {
        text-decoration: none;
        background-color: #076edd;
        font-weight: bold;
      }
    }
  }
}
