.registros-container {
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    background-color: #eceaeac4;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}

.registros-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #0465ce;
}

.registros-info {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.registros-info h2 {
    margin-bottom: 15px;
    color: #414040;
}

.registros-info ul {
    list-style-type: none;
    padding: 0;
}

.registros-info li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.registros-info li:last-child {
    border-bottom: none;
}

.registros-info p {
    color: #666;
    font-style: italic;
}
