.rodape {
  background-color: #5f5f5f;
  padding: 20px 40px;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
  box-shadow: none;
  //position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.rodape-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.logo-footer {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 14px;
  
}

.logo-footer img {
  width: 70px;
  height: auto;
  margin-left: 50px;
  margin-bottom: 50px;
}

.rodape-container > div {
  flex: 1;
}

.rodape-container h4 {
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}

.rodape-container p {
  margin: 4px 0;
  padding-bottom: 15px;

  :hover {
    text-decoration: underline;
  }
}

.rodape-footer {
  text-align: center;
  font-size: 12px;
  color: white;
  border-top: none;
  padding-top: 10px;
  font-weight: bold;
  
}
