

.cartaoDestaque {
    background-color: #007BFF;
    display: flex;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 20px;

   

    img {
        width: 580px;
        height: 260px;
        border-radius: 12px;
    }

    .direita {
        order: 1;
    }

    .info {
        color: white;
        font-family: roboto;
        padding: 20px;

        .info-texto{
            font-size: 20px;
        }
    }

    .link {
        color: rgb(224, 223, 223);
        font-size: 15px;
        text-decoration: none;
    }

}
.cartaoDestaque:hover {
    background-color: rgb(84, 84, 250);
}

