* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }

.text {
    flex: 1;
    padding: 20px;

    img {
        max-width: 700px;
    }

    h1 {
        color: #007BFF;
        font-size: 2.5em;
        margin-bottom: 20px;
      }
      
      p {
        font-size: 1.2em;
        line-height: 1.6;
        margin-bottom: 20px;
      }
  }
  
  .main {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    flex: 1;
  }

  .principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  