.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cac9c9;
  padding: 15px 30px;
  box-shadow: 0 7px 9px rgba(0,0,0,0.1);
  border-bottom: 5px solid rgb(66, 66, 66);
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;

    img {
      width: 120px;
      height: auto;
      margin: 0;
    }
  }

  .titulo-navbar {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007BFF;
    flex: 1;
    text-align: center;
  }

  .navegacao {
    display: flex;
    gap: 35px;

    a {
      color: #007BFF;
      text-decoration: none;
      font-weight: 500;
      font-size: 20px;
      padding-right: 10px;

      &:hover {
        text-decoration: none;
        color: rgb(84, 84, 250);
        font-weight: bold;
      }
    }
  }
}
