.admin-form {
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #eceaeac4;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}


.admin-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0a6eda;
    font-size: 40px;
}

.admin-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 17px;
}

.admin-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.admin-form button {
    width: 100%;
    padding: 10px;
    background-color:  #0056b3;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.admin-form button:hover {
    background-color:  #076edd;
}

.admin-form a {
    color: #1a9fcfe6;
    padding-left: 10px;
    font-size: 15px;
    cursor: pointer;
}

.admin-form a:hover {
    color: #1c83f1;
    text-decoration: underline;
}