.admin-form {
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #eceaeac4;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}


.admin-form h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #0056b3;
    font-size: 40px;
}

.admin-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.admin-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.admin-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.admin-form button:hover {
    background-color: #218838;
}

.admin-form button:last-child {
    background-color: #007bff;
}

.admin-form button:last-child:hover {
    background-color: #0056b3;
}
